%h1.mt-3.mb-3.ml-4= @event.name
.row
  .col-8
    .card.mb-2.ml-4.mr-4
    %h3.ml-4.card-header Event Content
    .ml-4.card-body
      %p.card-text= @event.content
    .card.mb-2.ml-4.mr-4
    %h3.ml-4.card-header Date Time
    .ml-4.card-body
      %p.card-text= "#{l(@event.start_at)} - #{l(@event.end_at)}"
    .card.mb-2.ml-4.mr-4
    %h3.ml-4.card-header Place
    .ml-4.card-body
      %p.card-text= @event.place

    .card.mb-2.ml-4.mr-4
    %h3.ml-4.card-header Owner
    .ml-4.card-body
      = link_to("https://github.com/#{@event.owner.name}", class: "card-link") do
        = image_tag @event.owner.image_url, width: 50, height: 50
        = "@#{@event.owner.name}"
  .col-2
    - if @event.created_by?(current_user)
      = link_to "Edit", edit_event_path(@event), class: "btn btn-info btn-lg btn-block"
      = link_to "Delete", event_path(@event), class: "btn btn-danger btn-lg btn-block", method: :delete, data: { confirm: "Are you sure delete this event?" }
    - if logged_in?
      %button.mb-2.btn.btn-primary.btn-lg.btn-block{ "data-toggle" => "modal", "data-target" => "#createTicket" }
        Join in
      %div.modal.fade#createTicket
        .modal-dialog
          .modal-content
            .modal-header
              %h4.modal-title#dialogHeader Join Comment
              %button.close{ type: "button", "data-dismiss": "modal" } &times;
            = form_with(model: @event.tickets.build, url: event_tickets_path(@event)) do |f|
              .modal-body
                #createTicketErrors
                = f.text_field :comment, class: "form-control"
              .modal-footer
                %button.btn.btn-default{ type: "button", "data-dismiss": "modal" }
                  Cancel
                = f.button "Send", class: "btn btn-primary"
    - else
      = link_to "Join in", new_event_ticket_path(@event), class: "btn btn-primary btn-lg btn-block"
    %horizontal
    .card.mb-2
      %h5.card-header Participant
      %ul.list-group.list-group-flush
        - @tickets.each do |ticket|
          %li.list-group-item
            = link_to(url_for_github(ticket.user), class: "card-link") do
              = image_tag ticket.user.image_url, width: 20, height: 20
              = "@#{ticket.user.name}"
            = ticket.comment
       

